*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


  
  #zoomIn,
  #zoomOut {
    display: block;
    margin-bottom: 5px;
  }
  
  #bgColorPicker {
    display: block;
  }

  label{
    background-color: white;
  }

  .popup {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b7394a9;
    border-radius: 10px 10px;
    padding: 20px;
    z-index: 9;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  #fermer {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
   
  }