*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-color: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#loaderPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; 
  opacity: 1; 

}

#loader {
  border: 16px solid #ff0ec7;
  border-radius: 50%;
  border-top: 16px solid #f3cf06;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#messageLoader {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  
}

#montrerControles{
  cursor: pointer;
  position: absolute;
  background-color: #FF5EA1;
  color: white;
  border: none;
  border-radius: 30px 30px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  top: 5%;
  left: 2%;
  
  

}

#montrerControles::after{
  content: "☰";
  

}

.titre{
  color: black;
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px white;
  background-color: #FFCE3A;
  border-radius: 30px 30px;
  padding: 0.5rem 1.5rem;
}

  
  #zoomIn,
  #zoomOut {
    display: block;
    margin-bottom: 5px;
  }
  
  #bgColorPicker {
    display: block;
  }

  label{
    background-color: white;
  }

  .popup {
    display: none;
    position: absolute;
    top: 15%;
    left: 12%;
    transform: translate(-50%, -60%);
    width: 20%;
    background-color: #1b7394a9;
    border-radius: 10px 10px;
    padding: 20px;
    z-index: 9;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  #fermer {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
   
  }

  @media (min-width: 992px) {
    
    #montrerControles{
      position: absolute;
      background-color: #FF5EA1;
      color: white;
      border: none;
      border-radius: 30px 30px;
      padding: 1rem 1.5rem;
      font-size: 0.8rem;
      top: 5%;
      left: 2%;
  
    }

    #montrerControles::after {
      content: ">> OUVRIR LES CONTRÔLES <<";
  }

  .titre{
    color: black;
    font-size: 3rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px white;
    background-color: #FFCE3A;
    border-radius: 30px 30px;
    padding: 0.5rem 1.5rem;
  }

}